{
  "openapi": "3.0.1",
  "info": {
    "title": "LucIAna Music Custom GPT API",
    "description": "API de LucIAna Music para que ChatGPT genere canciones con IA usando Suno V6, consumiendo los créditos del usuario autenticado mediante OAuth 2.0.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://lucianamusic.app",
      "description": "Producción (Vercel)"
    },
    {
      "url": "https://ramber-tunes.vercel.app",
      "description": "Producción alterna (Vercel)"
    }
  ],
  "security": [
    {
      "LucianaBearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "LucianaBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Access token JWT de Supabase obtenido tras el flujo OAuth 2.0 Authorization Code con LucIAna Music (pantalla /auth/chatgpt)."
      }
    },
    "schemas": {
      "InsufficientCreditsError": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "const": "insufficient_credits" },
          "message": { "type": "string", "description": "Mensaje en español explicando que no hay créditos suficientes y hay que recargar en el panel de LucIAna." },
          "credits_required": { "type": "integer", "description": "Créditos necesarios para ejecutar la operación." },
          "credits_available": { "type": "integer", "description": "Créditos que el usuario dispone actualmente en su cuenta." }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "const": "unauthorized" },
          "message": { "type": "string", "description": "El token Bearer falta, expiró o es inválido." }
        }
      },
      "ForbiddenTaskError": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "const": "forbidden" },
          "message": { "type": "string", "description": "Este taskId no pertenece a la cuenta autenticada." }
        }
      }
    }
  },
  "paths": {
    "/api/gpt/generate": {
      "post": {
        "operationId": "generate_music",
        "summary": "Generar una canción nueva en LucIAna Music",
        "description": "Dispara una generación de música IA en LucIAna Music usando el proveedor Suno V6. Descuenta los créditos (12 créditos por generación, 2 variaciones de canción) del saldo del usuario autenticado. Retorna un taskId para consultar el estado con getSongStatus.",
        "tags": ["Canciones"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": {
                    "type": "string",
                    "description": "Descripción de la canción: género musical, letra, estado de ánimo, instrumentos, voces, tempo, idioma. Ejemplo: 'Balada pop romántica en español, voz femenina suave, piano y cuerdas, letra sobre volver a encontrarse después de años'. Máximo ~2000 caracteres.",
                    "minLength": 3,
                    "maxLength": 2000
                  },
                  "style": {
                    "type": "string",
                    "description": "Estilo musical o tags de estilo en formato Suno (si se envía, se usa custom mode con style + title). Ejemplo: 'Pop, Voz Femenina, Balada, 90 BPM, Emocional'.",
                    "maxLength": 400
                  },
                  "title": {
                    "type": "string",
                    "description": "Título propuesto de la canción (modo custom requiere style + title). Si se omite, ChatGPT debe dejarlo vacío y LucIAna generará un título a partir del prompt.",
                    "maxLength": 120
                  },
                  "instrumental": {
                    "type": "boolean",
                    "description": "Si es true, genera una pista instrumental sin letras/voces. Por defecto false (cantada).",
                    "default": false
                  },
                  "model": {
                    "type": "string",
                    "enum": ["V6", "V5.5", "V5", "V4"],
                    "description": "Modelo Suno a utilizar. Usa siempre V6 por defecto (recomendado) salvo que el usuario pida explícitamente uno anterior.",
                    "default": "V6"
                  },
                  "mv": { "type": "string", "description": "Parámetro Suno MV (usualmente se deja vacío).", "maxLength": 40 },
                  "negativeTags": {
                    "type": "string",
                    "description": "Tags a excluir de la canción. Ejemplo: 'ruido, batería fuerte, autotune excesivo'.",
                    "maxLength": 200
                  },
                  "personaId": {
                    "type": "string",
                    "description": "ID de una voz clonada (personaje vocal) de la biblioteca LucIAna del usuario. Si no se envía, usa voz por defecto.",
                    "maxLength": 120
                  },
                  "personaModel": {
                    "type": "string",
                    "description": "Modelo asociado a la voz clonada (si aplica).",
                    "maxLength": 40
                  },
                  "vocalGender": {
                    "type": "string",
                    "enum": ["male", "female", "unisex", ""],
                    "description": "Preferencia de género vocal si no hay personaId: male (masculina), female (femenina), unisex o vacío.",
                    "default": ""
                  },
                  "styleWeight": { "type": "number", "description": "Peso del estilo (0 a 100)." },
                  "weirdnessConstraint": { "type": "number", "description": "Restricción de rareza." },
                  "audioWeight": { "type": "number", "description": "Peso del audio referencia." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tarea de generación encolada correctamente. Usa getSongStatus con el taskId devuelto para hacer polling hasta que aparezca audio_url.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "taskId": { "type": "string", "description": "ID de la tarea Suno. Usa este valor como taskId en getSongStatus." },
                    "task_id": { "type": "string", "description": "Alias de taskId (snake_case) para compatibilidad." },
                    "title": { "type": "string", "description": "Título inicial de la canción." },
                    "status": { "type": "string", "const": "queued", "description": "Siempre 'queued' cuando acaba de encolarse." },
                    "provider": { "type": "string", "const": "suno_v6", "description": "Proveedor usado." },
                    "credits_cost": { "type": "integer", "description": "Créditos descontados (normalmente 12)." }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falta el prompt o parámetros inválidos."
          },
          "401": {
            "description": "No autorizado: falta token Bearer o es inválido.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnauthorizedError" } } }
          },
          "402": {
            "description": "Saldo de créditos insuficiente en la cuenta LucIAna del usuario.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InsufficientCreditsError" } } }
          },
          "502": {
            "description": "Error del proveedor Suno al intentar encolar la generación."
          }
        }
      }
    },
    "/api/gpt/status": {
      "get": {
        "operationId": "getSongStatus",
        "summary": "Consultar estado de una generación de canción y obtener el MP3",
        "description": "Hace polling del taskId devuelto por generate_music. Retorna status=processing mientras se genera, status=failed si hubo error, o status=complete cuando el MP3 esté listo junto con audio_url (enlace directo al MP3 reproducible/descargable) y cover_url (portada). Consulta primero la biblioteca propia Supabase (por si el webhook ya lo guardó y está listo más rápido) y luego el proveedor Suno.",
        "tags": ["Canciones"],
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "description": "ID de la tarea devuelto por generate_music. También acepta task_id por compatibilidad.",
            "schema": { "type": "string", "minLength": 1, "maxLength": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "Estado de la tarea. Si status=complete, ChatGPT debe presentar al usuario audio_url como enlace 'Descargar MP3' o botón de reproducción directa; si hay extra_songs son las variaciones adicionales generadas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "taskId": { "type": "string", "description": "ID de la tarea consultada." },
                    "task_id": { "type": "string", "description": "Alias taskId snake_case." },
                    "status": {
                      "type": "string",
                      "enum": ["processing", "complete", "failed"],
                      "description": "processing = aún generando, haz polling cada 8-12s; complete = audio_url listo; failed = error del proveedor, lee el campo message."
                    },
                    "title": { "type": ["string", "null"], "description": "Título final de la canción (una vez terminada)." },
                    "audio_url": {
                      "type": ["string", "null"],
                      "description": "Enlace HTTPS directo al archivo MP3 de la canción. ESTE es el link que ChatGPT debe compartir al usuario para escuchar o descargar la canción. Null mientras status sea processing."
                    },
                    "cover_url": {
                      "type": ["string", "null"],
                      "description": "Enlace HTTPS a la imagen de portada de la canción (si está disponible)."
                    },
                    "extra_songs": {
                      "type": "array",
                      "description": "Variaciones adicionales generadas para la misma tarea (Suno suele generar 2 canciones por taskId). Cada una tiene su propio audio_url/cover_url.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": { "type": "integer", "description": "Índice 0..n de la variación." },
                          "title": { "type": ["string", "null"], "description": "Título de esta variación." },
                          "audio_url": { "type": ["string", "null"], "description": "Link MP3 directo de esta variación." },
                          "cover_url": { "type": ["string", "null"], "description": "Link portada de esta variación." }
                        }
                      }
                    },
                    "provider": { "type": "string", "const": "suno_v6" },
                    "source": {
                      "type": "string",
                      "enum": ["supabase_library", "suno_provider"],
                      "description": "Origen de los datos: supabase_library = recuperado rápido desde la DB LucIAna; suno_provider = devuelto por Suno en tiempo real."
                    },
                    "message": {
                      "type": ["string", "null"],
                      "description": "Solo se rellena cuando status=failed: explica por qué falló la generación (palabras restringidas, parámetros erróneos, etc.) y recomienda reintentar con otro prompt."
                    },
                    "provider_status_raw": {
                      "type": ["string", "null"],
                      "description": "Estado crudo devuelto por Suno internamente (SUCCESS / PROCESSING / FAILED, etc.). Útil solo para depurar."
                    }
                  }
                },
                "examples": {
                  "processing": {
                    "value": {
                      "taskId": "suno_task_abc123",
                      "task_id": "suno_task_abc123",
                      "status": "processing",
                      "title": null,
                      "audio_url": null,
                      "cover_url": null,
                      "provider": "suno_v6",
                      "source": "suno_provider"
                    }
                  },
                  "complete": {
                    "value": {
                      "taskId": "suno_task_abc123",
                      "task_id": "suno_task_abc123",
                      "status": "complete",
                      "title": "Volver a Encontrarnos - Balada Pop",
                      "audio_url": "https://r2.lucianamusic.app/songs/abc123/song-1.mp3",
                      "cover_url": "https://r2.lucianamusic.app/songs/abc123/cover-1.jpg",
                      "extra_songs": [
                        {
                          "index": 1,
                          "title": "Volver a Encontrarnos (Versión Alterna)",
                          "audio_url": "https://r2.lucianamusic.app/songs/abc123/song-2.mp3",
                          "cover_url": "https://r2.lucianamusic.app/songs/abc123/cover-2.jpg"
                        }
                      ],
                      "provider": "suno_v6",
                      "source": "supabase_library"
                    }
                  },
                  "failed": {
                    "value": {
                      "taskId": "suno_task_abc123",
                      "task_id": "suno_task_abc123",
                      "status": "failed",
                      "title": null,
                      "audio_url": null,
                      "cover_url": null,
                      "provider": "suno_v6",
                      "source": "suno_provider",
                      "message": "El proveedor no pudo generar la canción: contenido sensible detectado. Por favor prueba con un prompt diferente (evita menciones a marcas, nombres de artistas famosos o letras protegidas)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Falta el parámetro taskId en la query."
          },
          "401": {
            "description": "No autorizado: token Bearer faltante o inválido.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnauthorizedError" } } }
          },
          "403": {
            "description": "El taskId consultado no pertenece a la cuenta del usuario autenticado (seguridad).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ForbiddenTaskError" } } }
          },
          "502": {
            "description": "No se pudo conectar con el proveedor Suno en este momento. Reintenta pasados unos segundos; sigue devolviendo status=processing para que ChatGPT continúe el polling."
          }
        }
      }
    },
    "/api/gpt/transcribe": {
      "post": {
        "operationId": "transcribeAudio",
        "summary": "Transcribir la letra de un audio MP3 subido",
        "description": "Obtiene automáticamente la letra transcrita de un audio MP3/WAV/M4A/OGG/FLAC/AAC usando el mismo pipeline de transcripción Gemini que utiliza LucIAna Music internamente. Acepta una URL pública del audio (normalmente la devuelta por upload-audio en el campo 'url'). No consume créditos. Si el audio es instrumental (sin voz), retorna lyrics vacía con success=true y una note explicativa. Si el audio es ilegible (mucho ruido o muy corto), retorna error 422.",
        "tags": ["Canciones", "Transcripciones"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["audio_url"],
                "properties": {
                  "audio_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL pública HTTPS o HTTP del audio a transcribir. Se obtiene normalmente llamando primero a /api/gpt/upload-audio y usando el campo 'url' devuelto en la respuesta. Formatos aceptados: MP3, WAV, M4A, OGG, FLAC, AAC. Tamaño máximo: 15 MB.",
                    "minLength": 8,
                    "maxLength": 2000,
                    "example": "https://r2.lucianamusic.app/gpt-uploads/20260914/u123abc/9f8e7d6c-5b4a-3c2d-1e0f-mi-cancion.mp3"
                  },
                  "title": {
                    "type": "string",
                    "description": "(Opcional) Título sugerido para identificar el audio. Si no se envía, LucIAna extrae el nombre del archivo de la URL.",
                    "maxLength": 180
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcripción completada con éxito. Si el audio es instrumental, 'lyrics' vendrá vacía y se incluirá una 'note' explicativa.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "const": true },
                    "lyrics": {
                      "type": "string",
                      "description": "Letra transcrita del audio, con saltos de línea y etiquetas opcionales como [Verso], [Coro], [Puente] si la IA detectó estructura. Si el audio es instrumental, este campo es una cadena vacía \"\"."
                    },
                    "title": {
                      "type": "string",
                      "description": "Título del audio: el que enviaste en la petición, o el nombre del archivo extraído de la URL, o 'Audio LucIAna' por defecto."
                    },
                    "note": {
                      "type": "string",
                      "description": "(Solo audio instrumental) Explicación breve indicando que no se detectó voz/canto en el audio."
                    }
                  }
                },
                "examples": {
                  "transcripcion_ok": {
                    "value": {
                      "success": true,
                      "lyrics": "[Verso 1]\nCaminaba por la ciudad sin rumbo fijo\nPensando en aquel día que nos conocimos\n\n[Coro]\nY ahora vuelvo a encontrarte\nNo sé cómo ni por qué\nPero el destino nos volvió a juntar\n\n[Puente]\nNo dejes que se acabe esta vez\nAbrázame fuerte y no me sueltes más",
                      "title": "Volver a Encontrarnos - Demo.mp3"
                    }
                  },
                  "instrumental_sin_letra": {
                    "value": {
                      "success": true,
                      "lyrics": "",
                      "title": "Base de piano instrumental.mp3",
                      "note": "No detecté voz/canto en este audio. La letra está vacía."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Petición inválida: falta el campo audio_url, la URL no es válida (no empieza por http/https), el audio llegó con 0 bytes o el formato no está soportado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "const": "invalid_request" },
                    "message": { "type": "string", "description": "Detalle del error en español (ej: 'Falta audio_url (URL pública HTTPS o HTTP del archivo MP3).', 'URL no válida: debe empezar por https:// o http://')." }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No autorizado: falta token Bearer en el header Authorization, el token expiró o es inválido.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/UnauthorizedError" } } }
          },
          "413": {
            "description": "El audio es demasiado grande. Tamaño máximo permitido: 15 MB.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "const": "payload_too_large" },
                    "message": { "type": "string", "description": "Mensaje en español con el tamaño recibido y el máximo permitido." },
                    "size_bytes": { "type": "integer", "description": "Tamaño real del archivo descargado en bytes." },
                    "max_bytes": { "type": "integer", "const": 15728640, "description": "Tamaño máximo permitido: 15 MB = 15728640 bytes." }
                  }
                }
              }
            }
          },
          "422": {
            "description": "No se pudo procesar la transcripción: el audio es ilegible (mucho ruido, muy corto) o falló la API de Gemini durante la transcripción.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["unintelligible", "transcribe_failed"],
                      "description": "'unintelligible' = audio ilegible (prueba con uno más limpio o más largo). 'transcribe_failed' = fallo interno durante la transcripción."
                    },
                    "message": { "type": "string", "description": "Detalle del error en español." }
                  }
                }
              }
            }
          },
          "501": {
            "description": "Servicio de transcripción no disponible: GEMINI_API_KEY no está configurada en el servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "const": "transcriber_unavailable" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Fallo externo: no se pudo descargar el audio desde la URL proporcionada (URL inaccesible, 404 remoto, timeout) o falló la API de Gemini momentáneamente.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "enum": ["download_failed", "transcribe_failed"] },
                    "message": { "type": "string", "description": "Detalle en español." },
                    "http_status": { "type": "integer", "description": "(Solo download_failed) Código HTTP devuelto por el servidor remoto al intentar descargar el audio." }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
